* {
    font-family: 'EB Garamond', serif !important; 
}

body {
    background: url(https://www.radiovaporaki.com/wp-content/themes/wp_vaporakiv2/images/background4.jpg);;
}

.top-header {
    background: rgba(237, 237, 237, 0.7);
    margin-top:10px;
    margin-bottom:10px;
}

.logo-wrapper {
    img {
        width:auto;
        max-height:130px;
        display:block;
        margin: 0 auto;
    }

    p {
        text-align: center;
        font-weight:bold;
        font-size: 20px;
    }
}

.sponsor-logo {
    img {
        width:100%;
        max-width:600px;
        height:auto;
        margin-top:15px;
    }
}

.player-wrapper {
    text-align: center;
}


.cctrack:not(:first-child) {
    display:none;
}

.cctrack {
    display:block;
    margin:0 auto;
    width:100%;
    max-width:300px;
}

.ccalbum {
    display:none;
}

.main-area {
    background-color:white;
    padding:20px;
    box-shadow: 1px 1px 8px black;
    h3 {
        text-align: center;
    }

}

audio {
    margin-top:30px;
}

.news-bulletin {
    li {
        list-style-type:none;
        display:flex;
        margin-bottom:10px;
        background:#ffc107;
        font-size:20px;
        
        img {
            max-width:80px;
    
        }

        a {
            color:white;
            text-shadow:1px 1px 1px black;
            padding:10px;
        }
    }


}

.recent-tracks {
    .cctrack {
        display:block !important;
    }
}

.recent-tracks-wrapper {
    background:#ededed;
    padding-top:20px;
    padding-bottom:20px;
}

.footer {
    background: lightgray;
    text-align: center;
    font-size:20px;
    padding:20px;
    margin-top:10px;
}

